<html lang = "en">
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="lib/angular/angular-material.min.css">
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
       <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
       <script type="text/javascript" src="lib/angular/angular-aria.min.js"></script>
       <script type="text/javascript" src="lib/angular/angular-messages.min.js"></script>
       <script type="text/javascript" src="lib/angular/angular-material.min.js"></script>
       <script type="text/javascript" src="lib/angular/angular-route.js"></script>
       <script type="text/javascript" src="js/controllers.js"></script>
        <link rel="stylesheet" href="css/app.css">
       <script type = "text/javascript"  src="js/app.js"></script>  

    </head>
    
    <body ng-app = "sidenavDemo2" ng-cloak>
        
        
        
        
        
        
    </body>